[Desktop Entry]
Version=1.0
Name=CRYPTOSHARES 
Comment=CRYPTOSHARES P2P Cryptocurrency
Comment[fr]=CRYPTOSHARES, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CRYPTOSHARES, eşten eşe kriptografik sanal para birimi
Exec=cryptoshares-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/cryptoshares;
Categories=Office;Finance;
StartupWMClass=cryptoshares-qt
