# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=CRYPTOSHARES
Comment=CRYPTOSHARES QT test network
GenericName=CRYPTOSHARES Digital Currency QT client testnet network
Exec=cryptoshares.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/cryptoshares_testnet.png
MimeType=x-scheme-handler/shares;
Categories=X-Office;X-Finance;
Keywords=internet;cryptoshares;tshares;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
