# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=CRYPTOSHARES
Comment=CRYPTOSHARES QT main network
GenericName=CRYPTOSHARES Digital Currency QT client main network
Exec=cryptoshares.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/cryptoshares.png
MimeType=x-scheme-handler/cryptoshares;
Categories=X-Office;X-Finance;
Keywords=internet;cryptoshares;shares;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
